.spacer {
  margin-top: 5rem;
  margin-left: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.counter {
  margin-bottom: 2rem;
  font-size: 1.3rem;
  width: fit-content;
}

.counter button,
.add {
  font-size: 1.3rem;
  background: rgb(0, 183, 255);
  border: none;
  border-radius: 5px;
  width: 2.5rem;
  height: 2.5rem;
  margin-right: 1rem;
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
}

.add {
  width: auto;
}

.counter button,
.counter span {
  padding: 0.5rem 1rem;
}

.remove {
  background: rgb(255, 89, 12) !important;
  width: auto !important;
}
